# Domains (do i përdorim në prod)
BASE_DOMAIN=example.com
API_DOMAIN=api.example.com
WEB_DOMAIN=example.com

# Shlink
DEFAULT_DOMAIN=example.com
SHLINK_API_KEY=change_me

# Database
DB_NAME=shlink
DB_USER=shlink
DB_PASSWORD=shlinkpass
DB_HOST=db
DB_PORT=5432
